.visibility--hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  z-index: -1000;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  padding: 0px;
  margin: 0px;
}

.icon {
  width: 30px;
  height: 36px;
  cursor: pointer;
}

.image {
  display: block;
  position: relative;
  height: auto;
  max-width: 100%;
}

.basic {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.logo-link,
.logo-link:hover {
  text-decoration: none;
  cursor: pointer;
}