
/* color */
$light_gray: #F1F3F2;
$text-colour: #111;

 /*  Link  */
 $link: #1d1d1f;	
 $link-hover: #1d1d1f;	
 $link-active: #1d1d1f;	
 $link-bg: #beff5c; 
 $link-focus: #1d1d1f;	
 $link-dark:  #000;	
 $link-hover-dark:  #1d1d1f;
 $link-active-dark:  #1d1d1f;
 $link-bg-dark: #0a50c2; 
 $link-focus-dark:  #1d1d1f;